* {
    box-sizing: border-box;
  }
  :root{
    --main-color:#d3ad7f;
    --black:#13131a;
    --bg:#010103;
    --border:.1rem solid rgba(255,255,255,.3)
    --clr: #222327;
    --kyte: #060916;
  }
  
  html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
  }
  
  html::-webkit-scrollbar{
    width: .8rem;
  }
  html::-webkit-scrollbar-thumb{
    background: transparent;
  }
  html::-webkit-scrollbar-track{
    background: #fff;
    border-radius: 5rem;
  }
  
  .body{
    background: var(--black);
  }
  /* navbar */
  .navbar{
    background: rgba(9, 8, 8, 0.5) ;
    border-radius: 20px;
    height: 70px;
  }
  
  .navbar-nav {
    margin-left: auto;
  }

  .navbar .back{
    color: #fff;
    padding-left: 20px;
    font-size: 25px;
  }
  .navbar .fav{
    color: #fff;
    padding-right: 20px;
    font-size: 20px;
  }
  #star-icon.favorited {
    color: yellow;
  }

  /* recipe image */
  .info{
    margin-top: 100px;
  }
  .info .recipe{
    text-align: center;
  }
  .info .recipe img{
    width: 200px;
    height: 280px;
    border-radius: 20px;
    border: 3px solid #fff ;
    object-fit: cover;
  }
  .info .user{
    text-align: center;
  }
  .info .user img{
    width: 25px;
    height: 25px;
    border-radius: 20px;
    object-fit: cover;
    margin-left: -100px;
    margin-bottom: 10px;
    margin-right: 5px;
    border: 2px solid #fff ;
  }
  .info .user span{
    color: #fff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 10px;
    font-weight: bolder;
  }
  .info .recipe h3{
    color: #fff;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    padding-top: 15px;
  }
  .top-heading{
    padding-top: 40px;
    color:var(--main-color);
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 2px solid white;
    padding-bottom: 10px;
    padding-left: 10px;
    font-style: italic;
    width: 80%;
    margin-left: 35px;
  }

  .ingredients ul{
    color: #fff;
    margin-top: 20px;
    margin-left: 35px;
    font-size: 18px ;
    font-weight: bolder;
  }
  .procedure ol{
    color: #fff;
    margin-top: 30px;
    margin-left: 35px;
    margin-right: 30px;
    font-size: 18px ;
    margin-bottom: 50px;
    font-weight: bolder;
  }

  .comment {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
  .comment-heading {
    letter-spacing: 1px;
    margin: 0px 0;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  /* .comment-heading h1{
    font-size: 2.2rem;
    font-weight: 500;
    background-color: transparent;
    color: #fff;
    padding: 10px 20px;
  } */
  .comment-heading span {
    margin-top: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2.5rem;
    color: #fff;
    margin-bottom: 10px;
    letter-spacing: 2px;
    text-transform: uppercase; 
    font-weight: bolder

  }
  .comment-box-container {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    width: 100%;
  }
  .comment-box{
    width: 500px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
    background-color: #f3f3f3fb;
    padding: 20px;
    margin: 15px;
    cursor: pointer;
    border-radius: 10px;
  }
  .profile-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 10px;
  }
  .profile-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  .profile{
    display: flex;
    align-items: center;
  }
  .user-name{
    display: flex;
    flex-direction: column;
  }
  .user-name strong{
    color: #3d3d3d;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
    margin-left: 10px;
  }
  /* .user-name span{
    color: #3d3d3d;
    font-size: 0.8rem;
  } */
  .reviews{
    color: #f9d71c;
    margin-left: auto;
    margin-right: 15px;
  }
  .box-top {
    /* display:flex ; */
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  .user-comment p{
    margin-top: 10px;
    font-size: 1.1rem;
    color: #4b4b4b;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
  }
  .comment-box:hover{
    transform: translateY(-10px);
    transition: all ease 0.5s;
  }
@media(max-width:1060px){
  .comment-box{
    width: 45%;
    padding: 10px;
  }
}
@media(max-width:790px){
  .comment-box{
    width: 80%;
    /* height: 130px; */
  }
  .comment-heading h1{
    font-size: 1.45rem;
  }
}
@media(max-width:340px){
  .comment-box{
    width: 50%;
  }
  .box-top{
    flex-wrap: wrap;
    margin-bottom: 10px;
  }
  .reviews{
    margin-top: 10px;
  }
}

  /* Ratings */
  .ratings .container{
    position: relative;
    width: 90%;
    max-width: 400px;
    background: var(--black);
    padding: 20px 30px;
    border: 1px solid var(--border);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom:150px ;
  }
  .container .rate-this{
    padding: 5px;
    color: var(--main-color);
    font-size: 18px;
    font-weight: 500;
  }
  .container .post{
    display: none;
  }
  .container .text{
    font-size:20px ;
    color: #948f8f;
    font-weight: 500;
  }
  .container .edit{
    position: absolute;
    right: 10px;
    top: 5px;
    font-size:14px ;
    color: #948f8f;
    font-weight: 500;
    cursor: pointer;
  }
  .container .edit:hover{
    text-decoration: underline;
  }
  .ratings .container .star-widget input{
    display: none;
  }

  .star-widget label{
    font-size: 30px;
    color: #444;
    padding: 8px;
    float: right;
    transition: all 0.2s ease;
  }

  input:not(:checked) ~ label:hover,
  input:not(:checked) ~ label:hover ~ label{
    color: #fd4;
  }
  input:checked ~ label{
    color: #fd4;
  }
  input#rate-5:checked ~ label{
    color: #fe7;
    text-shadow: 0 0 20px #952;
  }
  /* not recommended */
  #rate-1:checked ~ form header:before{
    content:  "not recommended \1F612";
  }
  /* below average */
  #rate-2:checked ~ form header:before{
    content: "below average \01F972"; 
  }
  /*  average */
  #rate-3:checked ~ form header:before{
    content: "average \01F914";
  }
  /* must try this! */
  #rate-4:checked ~ form header:before{
    content: "must try this! \1F600";
  }
  /* highly recommended */
  #rate-5:checked ~ form header:before{
    content: "highly recommended \1F60D";
  }
  .container form{
    display: none;
  }
  input:checked ~ form{
    display: block;
  }

  form header{
    width: 100%;
    font-size: 20px;
    color: #fe7;
    font-weight: 500;
    margin: 5px 0 20px 0 ;
    text-align: center;
    transition: all 0.2s ease;
    font-family: monospace;
  }
  
  form .textarea{
    height: 80px;
    width: 100%;
    overflow: hidden;
  }

  form .textarea textarea{
    height: 100%;
    width: 100%;
    outline: none;
    color: #e7dfdf;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border: 1px solid #333;
    background: #222;
    padding: 10px;
    font-size: 14px;
    resize: none;
    font-weight: lighter;
  }
  form .btn{
    height: 40px;
    width: 100%;
    margin: 10px 0;
  }
  form .btn button{
    height: 100%;
    width: 100%;
    border: 1px solid #444;
    outline: none;
    background: #222;
    color: #999;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 10px;
  }
  form .btn button:hover{
    background:black ;
  }


  /* bottom navbar */
/* .bot-nav a{
  text-decoration: none;
}
.bot-nav ul{
  list-style: none;
}
.site {
  display: grid;
  place-content: center;
}
.bot-nav nav{
  position: fixed;
  bottom: 0;
  width: 100%;
  border-radius: 20px;
  background-color: var(--bg);
  padding-bottom: 1em;
}
.bot-nav nav ul{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
}
.bot-nav li {
  list-style: none;
  text-align: center;
  flex-grow: 0.5;
}
.bot-nav a i {
  margin-bottom: 5px; 
}

.bot-nav nav ul li a{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  color:#fff ;
}

.bot-nav nav li>a>span{
  position: absolute;
  bottom: 2px;
  font-size: 10px;
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  -webkit-transition: transform .3s, opacity .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform .3s, opacity .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.bot-nav nav li.active > a >span {
  opacity: 0;
  transform: translateY(70px);
}
.bot-nav nav li i{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  font-size: 20px;
  border-radius: 50%;
  background-color: transparent;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: transform .3s, background-color .3s;
  transition: transform .3s, background-color .3s;
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.bot-nav nav li.active i{
  transform: translateY(-30px) scale(1.50);
  background: linear-gradient(to right,#b23c00,#d66025);
  box-shadow: rgba(244 52 121 / 40%) 0 20px 40px -3px;
}

.bot-nav nav li.circle {
  position: absolute;
  bottom: 0;
  top: -42px;
  width: 90px;
  height: 90px;
  background-color: var(--bg);
  border-radius: 50%;
  z-index: -1;
  transition: transform .3s;
  left: calc(50%); 
}
.bot-nav nav li.circle::before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 15px;
  width: 120px;
  height: 40px;
  background-color: transparent;
  z-index: -2;
  transform: translateX(-50%); 
}
.bot-nav nav li.active ~ .circle {
  transform: translateX(-50%); 
}
.bot-nav nav li .corner::before,
.bot-nav nav li .corner::after{
  content: '';
  position: absolute;
  width: 36px;
  height: 36px;
  top: 14px;
  background-color: transparent;
}
.bot-nav nav li .corner::before {
  left: -32px;
  border-bottom-right-radius: 40px;
}
.bot-nav nav li .corner::after {
  right: -32px;
  border-bottom-left-radius: 40px;
}
.bot-nav nav li.active ~ circle .corner::before,
.bot-nav nav li.active ~ circle .corner::after {
  background-color:transparent ;
} */
